
.titulo{
	font-size:15px;
	color:#FE9A2E;
	font-weight:bold;
	padding-left:6px;
	padding-top:4px;
}

.tdname{
	font-weight:bold;
	color:#333;
	width:120px;
	padding-top:6px;
	font-size:15px;
}
td{
	padding-top:3px;
	padding-bottom:3px;
}
.tdinput{
	color:#555;
	width:400px;
	font-size:14px;
}
.tdname2{
	font-weight:bold;
	color:#333;
	width:100px;
	
	
	padding-bottom:6px;
	
}
