
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/*Cambios realizados por joe Aspiazu en linea 244 y 248...*/


#reporte{
	float:right;
	font-weight:bold;
	color:#006633;
	margin-right:50px;
	margin-top:-50px;
	
}