<!DOCTYPE html>
<html lang="{{{APP_LANG}}}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

	<link rel="icon" href="./favicon.ico" type="image/png">
	<title>{{{APP_NAME}}}</title>
</head>

<body>
	<noscript>
		<strong>Uff, necesitas javascript para correr esto.<br />att. {{{APP_NAME}}}</strong>
	</noscript>
	<div id="q-app"></div>
	<script src="./js/ini.js"></script>
</body>

</html>