@charset "utf-8";
/* CSS Document */

.recua{
	border:1px solid #14343A;
	

padding:1px 1px;
margin-left:140px ;

width:400px;
	}
	
	
	.recua90{
	border:1px solid #14343A;
	

padding:1px 1px;
margin-left:140px ;

width:480px;
	}
	
	
	.recua40{
	border:1px solid #14343A;
	

padding:1px 1px;
margin-left:50px ;

width:400px;
	}
	

.recua25{
	border:1px solid #14343A;
	

padding:1px 1px;
margin-left:70px ;

width:350px;
	}	
	
	
	
		.recua190{
	border:1px solid #14343A;
	

padding:1px 1px;
margin-left:100px ;

width:680px;
	}
	
		.recua190e{
	border:1px solid #14343A;
	

padding:1px 1px;
margin-left:100px ;

width:380px;
	}