@charset "utf-8";
/* CSS Document recua50hd */

.recua{
	border:1px solid #14343A;
	

padding:1px 1px;
margin-left:140px ;

width:400px;
	}
	
	
	.recua90{
	border:1px solid #14343A;
	

padding:1px 1px;
margin-left:140px ;

width:480px;
	}
	
	
	.recua40{
	border:1px solid #14343A;
	
	

padding:1px 1px;
margin-left:-18px ;

width:265px;
	}
	
	
		.recua409{
	border:1px solid #14343A;
	
	

padding:1px 1px;
margin-left:-18px ;

width:500px;
	}
	
	
	.recua40h{
	border:1px solid #14343A;
	
	
	

padding:1px 1px;
margin-left:-8px ;

width:385px;
	}


.recua40h7{
	border:1px solid #14343A;
	
	
	

padding:1px 1px;
margin-left:-8px ;

width:320px;
	}
	
	
	
	.recua50h7{
	border:1px solid #14343A;
	
	
	

padding:1px 1px;
margin-left:-8px ;

width:300px;
	}

	.recua40hd{
	border:1px solid #14343A;
	
	
	

padding:1px 1px;
margin-left:-8px ;

width:905px;
	}

.recua50hd{
	border:1px solid #14343A;

padding:1px 1px;
margin-left:-8px ;

width:1005px;
	}
	
	
	.recuak{
	border:1px solid #14343A;

padding:1px 1px;
margin-left:-8px ;

width:700px;
	}
	
		.recuak1{
	border:1px solid #14343A;

padding:1px 1px;
margin-left:-8px ;

width:780px;
	}
		.recuak2{
	border:1px solid #14343A;

padding:1px 1px;
margin-left:-8px ;

width:774px;
	}
.recua50hn{
	border:1px solid #14343A;

padding:1px 1px;
margin-left:-8px ;

width:995px;
	}	
	
	
	.recuacoca{
	border:1px solid #14343A;

padding:1px 1px;
margin-left:-8px ;

width:961px;
	}
	
	.cuacoca{
	border:1px solid #14343A;

padding:1px 1px;
margin-left:-8px ;

width:965px;
	}	
	
	.recua50v{
	border:1px solid #14343A;

padding:1px 1px;
margin-left:-8px ;

width:495px;
	}	
	
	
	.re50hd{
	border:1px solid #14343A;

		padding:1px 1px;
		margin-left:-8px ;
		
		width:1900px;
	}


	.recua401h{
	border:1px solid #14343A;
	
	
	

padding:1px 1px;
margin-left:-8px ;


	}
	


.recua4013{
	border:1px solid #14343A;
	

padding:1px 1px;
margin-left:50px ;

width:700px;
	}	

.recua25{
	border:1px solid #14343A;
	

padding:1px 1px;
margin-left:70px ;

width:350px;
	}	
	
	
	
		.recua190{
	border:1px solid #14343A;
	

padding:1px 1px;
margin-left:10px ;

width:680px;
	}
	
	
	.recua40h2{
	border:4px solid #14343A;
	background-color: #FFFFCC;
	
	

width:700px;
	}
	
	
	
	#central {
	box-shadow: 0 2px 5px #666666;
    border-radius: 8px 8px 8px 8px;
       min-height: 5px;
    margin-bottom: 10px;
	padding: 10px;
    width: 500px;
}