form{
	width: 100%;
	margin-top:20px;
	margin-left: auto;
	margin-right: auto;
	background: #EBF5FB;
}

#tablaNota{
	overflow:auto;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	height: 440px; 
}

.caja_buscar {
  width: 60%;
  height: 50px;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  background: #D6EAF8;
  border-bottom:1px solid black; 
  border-left:1px solid black;
  border-right:1px solid black;
} 

#btn_buscar {
	border:none;
	background:#0D87BA;
	color: #FFFF;
	outline: none;
	font-weight: bold;
	border:1px solid black;
	font-size: 14px;
	padding:5px;
	cursor:pointer;
}

#btn_buscar:hover {
	background-color: #A9CCE3;
	color:black; 
}

#btn_actualizar {
	border:none;
	background:#0D87BA;
	color: #FFFF;
	outline: none;
	font-weight: bold;
	border:1px solid black;
	font-size: 14px;
	padding:10px;
	cursor:pointer;
}

#btn_actualizar:hover {
	background-color: #A9CCE3;
	color:black; 
}

#btn_nota{
	cursor:pointer;
	background: url(../imagenes/icono_registrar.png);
	background-repeat: no-repeat;
	border: none;
	width: 40px;
	height: 40px;
	outline: none;
}

#btn_regresar {
	border:none;
	margin-left:20px;
	background:#0D87BA;
	color: #FFFF;
	outline: none;
	font-weight: bold;
	border:1px solid black;
	font-size: 14px;
	padding:10px;
	cursor:pointer;
}

#btn_regresar:hover {
	background-color: #A9CCE3;
	color:black; 
}

#btn_registrar {
	border:none;
	background:#0D87BA;
	color: #FFFF;
	outline: none;
	font-weight: bold;
	border:1px solid black;
	font-size: 14px;
	padding:10px;
	cursor:pointer;
}

#btn_registrar:hover {
	background-color: #A9CCE3;
	color:black; 
}

#btn_limpiar {
	border:none;
	margin-left:20px;
	background:#0D87BA;
	color: #FFFF;
	outline: none;
	font-weight: bold;
	border:1px solid black;
	font-size: 14px;
	padding:10px;
	cursor:pointer;
}

#btn_limpiar:hover {
	background-color: #A9CCE3;
	color:black; 
}

#btn_editar {
	border:none;
	margin-left:85%;
	background:#0D87BA;
	color: #FFFF;
	outline: none;
	font-weight: bold;
	border:1px solid black;
	font-size: 14px;
	padding:10px;
	cursor:pointer;
}

#btn_editar:hover {
	background-color: #A9CCE3;
	color:black; 
}

#imagen {
  width: 65px;
  height: 65px;
}

#icon_opcion{
	width: 20px;
	height: 20px; 
	float: left;
}

label{
	margin-right: 4px;
	margin-left: 4px;
	font-weight: bold;
	font-size: 14px;
	font-family: sans-serif;
	letter-spacing: 1px;
}

#td_titulo1{
	font-size: 32px;
	font-weight: bold;
	color:#2D67EC;
}

#td_titulo2, #td_titulo3{
	font-size: 18px;
	font-weight: bold;
	color:#2D67EC;
}

#lbl_buscar{
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 1px;	
  line-height: 50px;
}

#txt_buscar {
  font-family: sans-serif;
  letter-spacing: 1px; 
  padding: 5px;
  width: 450px; 

}

#txt_parcial1, #txt_parcial2, #txt_parcial3 {
	font-family: sans-serif;
	letter-spacing: 1px;
	padding: 3px;
	width: 45px;	
}

#txt_asistencia{
	font-family: sans-serif;
	letter-spacing: 1px;
	margin-left:5px;
	padding: 3px;
	width: 45px;
}

#txt_promedio{
	font-family: sans-serif;
	letter-spacing: 1px;
	margin-left:12px;
	padding: 3px;
	width: 45px;
}

#sel_nivel {
	font-family: sans-serif;
	letter-spacing: 1px; 
	padding: 3px;
	width: 104px;
}
 
#sel_grado {
	font-family: sans-serif;
	letter-spacing: 1px;
	padding: 3px;
	width: 115px;
}

#sel_nivel {
	font-family: sans-serif;
	letter-spacing: 1px;
	margin-left: 6px; 
	padding: 3px;
	width: 110px;
}

#sel_materia {
	font-family: sans-serif;
	letter-spacing: 1px; 
	padding: 3px;
	width: 132px;
}


#sel_quimestre {
	font-family: sans-serif;
	letter-spacing: 1px; 
	padding: 3px;
	width: 132px;
}


#materia {
	font-family: sans-serif;
	letter-spacing: 1px; 
	padding: 3px;
	width: 135px;
}

#sel_docente {
	font-family: sans-serif;
	letter-spacing: 1px;
	margin-left: 15px; 
	padding: 3px;
	width: 125px;
}

#sel_alumno {
	font-family: sans-serif;
	letter-spacing: 1px;
	margin-left: 20px; 
	padding: 3px;
	width: 125px;
}

#tab_dato1{
	font-family: sans-serif;
	letter-spacing: 1px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

#tab_dato2{
	font-family: sans-serif;
	letter-spacing: 1px;
	padding: 5px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}


#tab_nota{
	font-family: sans-serif;
	letter-spacing: 1px;
	margin-left: auto;
	margin-right: auto;
}


#tab_dato1 tr td{
	padding: 5px;
}

#contenido{
	overflow:auto;
    height:475px;
    width:95%;
    margin-top:40px;
  	margin-left:auto;
  	margin-right: auto;
}

#tabla {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-top:40px;
  margin-left:auto;
  margin-right: auto;
}

#th_n{	
  border: 1px solid #A9CCE3;
  min-width: 250px;
  text-align: center;
  padding: 5px;
}


#td_n{	
  border: 1px solid #A9CCE3;
  min-width: 90px;
  text-align: center;
  padding: 5px;
}


#tabla tr{
  background: #D6EAF8 ;
}

#tabla tr:hover {
  background-color: #A9CCE3;
  border: 2px solid #373636;
}

#tabla th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0D87BA;
  color: white;
  text-align: center;
}

#th_opcion{
	padding: 4px;
}

#tabla a{
	cursor:pointer;
}

#tabla a:hover{
	color:#FFFF;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  visibility: hidden; 
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
