
.page-header{padding: 50px 20px 20px 20px;margin-left: 280px;}
.tile-container{text-align: center;padding: 20px 25px;margin-left: 280px;}
.tile{height: 200px;width: 200px;margin: 10px;display: inline-block;text-decoration: none;
color: var(--accent-color);border: 1px solid var(--border-color);border-radius: 3px;user-select: none;
transition: all .2s ease-in-out;background: #F39B98;}
.tile:hover{text-decoration: none;border-color: var(--color-three);}
.tile-tittle{color: #fff; width: 100%;height: 40px;line-height: 40px;box-sizing: border-box;
text-transform: uppercase;border-bottom: 1px solid var(--border-color);transition: all .2s ease-in-out;
background-color: #1616DE;}
.tile:hover .tile-tittle{color: #FFF;border-color: var(--color-three);background-color: var(--color-three);}
.tile-icon{width: 100%;height: 160px;box-sizing: border-box;padding-top: 22px;background-color:  #9898F3;font-size: 400%;}
.tile-icon > i{font-size: 80px;}
.tile-icon > p{height: 35px; line-height: 35px;}

.img-fluid{
	width: 158px;display: block;
border: 4px solid #FFF;border-radius: 100%;height: 158px;margin-bottom: 10px;
}

.navbar-dark
{
	height: 50px; margin-left: 300px;
}

